#chat-screen{
    background-color: #abc1d1;
    height: 10000vh;
}

.chat-header{
    display: flex;
    justify-content: center;
    padding: 25px 25px;
}

.chat-header__column{
    width: 33%;
    margin-top: 15px;
}

.chat-header__column:nth-child(2){
    display: flex;
    justify-content: center;
}

.chat-header__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat-header__title{
    font-weight: 600;
    font-size: 24px;
}
.chat-header__column i:first-child{
    margin-right:25px;
}