.more_setting_doted {
  position: absolute;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  bottom: 38px;
  right: 15px;
}

.more-header__columns {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.more-header__columns:first-child img {
  width: 80px;
  height: 80px;
  border-radius: 24px;
  margin-left: 20px;
}

.more-header__columns__icon {
  margin-left: auto;
  margin-right: 20px;
  font-size: 28px;
}

.more-header__columns__text {
  margin-left: 12px;
}

.more-header__columns__text h1 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 12px;
}

.more-header__columns__text span {
  opacity: 0.4;
}
.more-header__columns__excmark {
  display: inline-block;
  color: red;
  border: 1px solid red;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
}

.main-header__icons__second{
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

.main-header__icons__second__columns{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__icons__second__columns i{
  margin-bottom: 30px;
}

.main-header__icons__second__columns:nth-child(3){
  visibility: hidden;
}

.main-header__icons__second__columns:last-child{
  visibility: hidden;
}

.main-more__columns{
  display: flex;
  margin-left: 25px;
}
.main-more__columns h1:first-child{
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
}

.main-more__columns:nth-child(2){
  display: flex;
  
}
.main-suggesstion__kakaoStory{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  width:72px;
  height:72px;
  border-radius: 12px;
  margin: 24px 20px 8px 24px;
}

.main-suggesstion__text{
  margin-top: 16px;
  margin-left:12px;
  font-size: 18px;
  opacity: 0.7;
}
.main-suggesstion__emoticon{
  background-color: white;
  width: 32px;
  height: 32px;
  align-items: center;
  border-radius: 12px;
  border-top-left-radius: 8px; 
}

