.nav-list{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #F9F9FA;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.nav-list__column{
    padding: 30px 0px;
    margin: 0px 20px;
}

.nav-list__column:last-child{
    position: relative;
}

.nav__doted{
    position: absolute;
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    bottom: 45px;
    left: 25px;
}

