.nav{
    position: relative;
    z-index: 3;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #F9F9FA;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.nav-list__column{
    padding: 25px 20px;
}


.nav-list__column:last-child{
    position: relative;
}

.nav__doted{
    position: absolute;
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    bottom: 45px;
    left: 45px;
}

.nav-list__column:nth-child(2){
    position: relative;
}
.nav-list__count{
    background-color: tomato;
    width: 28px;
    height: 28px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 33px;
    left:35px;
}

@keyframes countAnimation {
    0%{
        transform:none;
    }
    50%{
        transform: translateY(-5px) rotateY(360deg);
    }
    100%{
        transform: none;
    }
}

.nav-list__count{
    animation: countAnimation 2s ease-in-out infinite;
}